[submodule "opencv_helper"]
	path = opencv_helper
	url = https://github.com/drriguz/opencv_helper.git
[submodule "flutter_sqlcipher"]
	path = flutter_sqlcipher
	url = https://github.com/drriguz/flutter_sqlcipher.git
