[submodule "ben_app/encryptions"]
	path = ben_app/encryptions
	url = https://github.com/drriguz/encryptions.git
[submodule "opencv_helper"]
	path = opencv_helper
	url = https://github.com/drriguz/opencv_helper.git
